  .sessao-intro{
    min-width: 100%;
    min-height: 700px;
  }

  .sessao-intro-bg{
    min-width: 100%;
    min-height: 700px;
    background: url(intro_image.jpg);
    background-repeat: no-repeat;
    filter: grayscale(60%) brightness(40%);
    background-size: cover;
    position: relative;
    z-index: 0;
  }

  .text-intro{
    color: #ffffff;
    z-index: 2;
    position: absolute;
    top: 250px;
  }
  .text-intro h1{
    font-size: 64px;
    margin-left: 80px;
    margin-top: 0px;
  }
  .text-intro p{
    font-size: 24px;
    margin-left: 80px;
    margin-top: 20px;
    line-height: 30px;
  }
  .intro-list{
      margin-left:80px;
  }
