.sessao-contato{
  min-width: 100%;
  min-height: 700px;
  border: 10px solid;
  background-image: linear-gradient(to top right, #26408B, #3D60A7);
  display: flex;
  align-content: center;
  justify-content: center;
}

.contatoDiv{
  background-color: white;
  border-radius: 20px;
  min-width: 80%;
  height: 600px;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 5px 20px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
}

.contato-left{
  height:100%;
  width:40%;
  background-image:url(/images/form_image.jpg);
  background-repeat: no-repeat;
  filter: grayscale(30%) brightness(70%);
  background-size: cover;
  background-position-x: -200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contato-right{
  height:100%;
  width:60%;
  display:flex;
  align-content: center;
  justify-content: center;
}

.contato-form{
  width: 80%;
  height: 80%;
  border-style: solid;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.form-style{
  margin-left:auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.form-style input{
  margin-bottom: 10px;
}

.formButton{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
